$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='30' height='36' viewport='0 0 100 100' style='fill:black;font-size:18px;'><text y='50%'>🤙🏾</text></svg>") 16 0,auto;
}
* {
  margin-top: 0
}
body.light {
  --primary-color: #381696;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #fdc5f5;
  --background: #fff;
  --text-color: #b388eb;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #fdc5f5;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
}
body.dark {
  --primary-color: #9984d5;
  --primary-text-color: #fff;
  --featured-bg: #66578d;
  --featured-text: #fff;
  --secondary-color: #b388eb;
  --background: #000;
  --text-color: #fdc5f5;
  --text-secondary-color: rgba(255,255,255,0.66);
  --site-header: var(--background);
  --card-bg: #181326;
  --card-bdr: #181326;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #b388eb;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: 'PT Mono', monospace;
  background-color: var(--background);
  color: var(--text-color);
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}
::-webkit-scrollbar-thumb {
  background-color: #fdc5f5;
}
::selection {
  background-color: #b388eb;
  color: #fdc5f5;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
}
a {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  text-decoration: none;
  &:hover {
    color: var(--secondary-color);
  }
}
i {
  cursor: pointer;
}
.container {
  padding: 3rem;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
.navigation {
  display: flex !important;
  align-items: center;
  font-weight: 300;
  a {
    margin: 0 8px 0;
  }
}
.navigation-active {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.header-menu {
  position: fixed;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  transition: top 0.3s;
  z-index: 1;
}
.menu-button {
  display: none !important;
}
.site-header {
  display: flex;
  justify-content: space-between;
  background: var(--site-header);
  margin-bottom: 32px;
  align-items: center;
  background: transparent;
}
.hero-header {
  padding: 0 0 64px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("https://media.giphy.com/media/KpAPQVW9lWnWU/giphy.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.button {
  padding: 18px 27px;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 9px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.ideas {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 1.5;
  padding: 100px 0;
}
.blog-post-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}
.blog-post-content p img {
  width: 100%;
}
.blog-post-content iframe {
  width: 100%;
  height: 800px;
}
.gatsby-resp-iframe-wrapper {
  margin-bottom: 1rem;
}
.post-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.text-idea {
  width: 50%;
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.img-idea {
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}
.img-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.img-row p {
  width: 100%;
}
.img-row p:nth-child(2) {
  padding-left: 10px;
}
.img-row p:nth-child(3) {
  padding-left: 10px;
}
.img-row p img {
  width: 100%;
}
.img-idea p:nth-child(1) {
  grid-row: 1;
  grid-column: 4 / -2;
}
.img-idea p:nth-child(2) {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 60%;
}
.img-idea p:nth-child(3) {
  grid-row: 1;
  grid-column: 4/ span 10;
  padding-top: 80%;
}
.what-item p img {
  width: 100%;
}
.what-item:nth-child(1) {
  width: 40%;
}
.what-item:nth-child(2) {
  width: 100%;
  padding-left: 50px;
}
.site-footer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  padding-top: 50px;
  color: #666;
  a {
    font-weight: 700;
  }
}
.button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Portrait and Landscape */
// @media only screen 
// and (min-width: 768px) {
// .grids {
//   grid-template-columns: 1fr 1fr;
// }
// }
// @media only screen 
//   and (min-width: 1024px) {
//   .grids {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
//   .two-grids {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-gap: 64px;
//   }
// }

@media (max-width: 600px) {
  .menu-button {
    display: flex !important;
  }
  .navigation {
    display: none !important;
  }
  .navigation-active {
    display: flex !important;
  }
  .navigation-active .navigation {
    display: flex !important;
    animation: Nav-Link 0.9s ease;
  }
  .blog-post-content iframe {
    height: 300px;
  }
  .post-container {
    flex-flow: column;
  }
  .text-idea {
    width: 100%;
  }
  .what-item {
    width: 100% !important;
  }
  .what-row {
    flex-flow: column !important;
  }
  .what-item:nth-child(2) {
    padding-left: initial;
  }
}
@keyframes Nav-Link {
  from {
    transform: translate(0rem, 2rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes Nav-Links {
  from {
    background: blue;
  }
}
// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}
