$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body.light {
  --primary-color: #381696;
  --primary-text-color: #fff;
  --featured-bg: #493b8a;
  --featured-text: #fff;
  --secondary-color: #fdc5f5;
  --background: #fff;
  --text-color: #b388eb;
  --site-header: var(--background);
  --input-bg: var(--background);
}
body.dark {
  --primary-color: #9984d5;
  --primary-text-color: #fff;
  --featured-bg: #66578d;
  --featured-text: #fff;
  --secondary-color: #b388eb;
  --background: #000;
  --text-color: #fdc5f5;
  --text-secondary-color: rgba(255,255,255,0.66);
  --site-header: var(--background);
  --input-bg: var(--card-bg);
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  cursor: url("https://cursorcss.s3-sa-east-1.amazonaws.com/cursor.png") 16 0,auto;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  text-rendering: optimizeLegibility;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Mono', monospace;
  background-color: var(--background);
  color: var(--text-color);
}
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px var(--grey);
}
::-webkit-scrollbar-thumb {
  background-color: #fdc5f5;
}
::selection {
  background-color: #b388eb;
  color: #fdc5f5;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.site-wrapper {
  width: 100%;
}
.btn-top {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
  cursor: pointer;
  z-index: 1;
  animation: Nav-Link 0.9s ease;
  font-size: 5rem;
}
.btn-top a {
  width: 100%;
}
.btn-top img {
  background-image: url('../../static/images/icon.png');
  width: 100px;
}
.arrow-hover {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
  cursor: pointer;
}
.arrow-hover svg {
  fill: var(--text-color);
  width: 100px;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  line-height: 1;
}
a {
  font-family: 'Lato', sans-serif;
  color: var(--text-color);
  text-decoration: none;
  &:hover {
    color: var(--secondary-color);
  }
}
i {
  cursor: pointer;
}
.container {
  padding: 3rem;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}
nav a {
  font-weight: bolder;
}
.navigation {
  display: flex !important;
  align-items: center;
  a {
    font-size: 12px;
    padding-right: 60px;
    text-transform: uppercase;
  }
}
.navigation-active {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.header-menu {
  position: fixed;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  transition: top 0.3s;
  z-index: 1;
}
.header-active {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: 0;
  transition: top 0.3s;
  z-index: 9 !important;
}
.menu-button {
  display: none !important;
}
.menu-button svg {
  stroke: var(--text-color);
}
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: transparent;
}
.smile {
  color: var(--text-color);
}
.arrow-up {
  color: var(--text-color);
}
.link-top {
  background: none;
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
}
.link-top .arrow-up,
.link-top:hover .smile {
  display: none;
}
.link-top:hover .arrow-up {
  display: inline;
}
.canvas-sketch {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-image: url('https://66.media.tumblr.com/db84e2a145dadf57b0213ad90671ab89/tumblr_pzom0k92FK1qzt4vjo1_1280.gifv');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.primary-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.primary-content p {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;
}
.primary-content p span {
  font-size: 0.8rem;
  font-weight: lighter;
}
.primary-content .title-hero p:nth-child(1) {
  padding-top: 50px;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.primary-content .title-hero p:nth-child(2) {
  font-size: 4rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}
.ideas {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.fun, 
.camera {
  padding-top: 100px;
}
.what h2 {
  padding-top: 30px;
}
.what .img-row p:nth-child(2) {
  padding-left: 0;
}
.title-pad {
  padding: 30px 0;
  font-size: 14px;
}
.card {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: auto;
  overflow: hidden;
  line-height: 1.5;
  padding: 50px 0;
  font-size: 1rem;
}
.what-content .img-row {
  align-items: flex-start;
  padding-top: 50px;
}
.blog-post-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
}
.blog-post-content p img {
  width: 100%;
}
.blog-post-content:last-child {
  font-size: 10px;
}
.gatsby-resp-iframe-wrapper {
  margin: 50px 0;
}
#Olindadeviver .gatsby-resp-iframe-wrapper,
#Aruba .gatsby-resp-iframe-wrapper,
#Trip-Zine .gatsby-resp-iframe-wrapper {
  margin-top: 0;
}
#Photography h1 {
  padding-bottom: 50px;
}
.post-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 50px 0;
}
.text-idea {
  font-size: 14px;
  width: 50%;
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.img-idea {
  height: 100%;
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  grid-template-columns: repeat(12, 1fr);
}
.img-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.img-row p {
  width: 100%;
  height: 100%;
}
.img-row p img {
  width: 100%;
  height: 100%;
}
.img-row p:nth-child(2) {
  padding-left: 10px;
}
.img-row p:nth-child(3) {
  padding-left: 10px;
}
.img-idea p:nth-child(1) {
  grid-row: 1;
  grid-column: 4 / -2;
}
.img-idea p:nth-child(2) {
  grid-row: 1;
  grid-column: 1 / span 8;
  padding-top: 60%;
}
.img-idea p:nth-child(3) {
  grid-row: 1;
  grid-column: 4/ span 10;
  padding-top: 80%;
}
.iframe-row {
  padding: 0 0 30px;
}
.what-item p img {
  width: 100%;
}
.what-item:nth-child(1) {
  width: 50%;
}
.what-item:nth-child(2) {
  width: 100%;
  padding-left: 50px;
}
footer {
  width: 100%;
  height: 100%;
}
.site-footer {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 20px;
  color: var(--text-color);
  overflow: hidden;
  p {
    font-size: 14px;
    overflow: hidden;
  }
}
.button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a svg {
  width: 30px;
}
.social a svg path {
  fill: var(--text-color);
}
.social a svg path:hover {
  fill: var(--secondary-color);
}
.grid-idea {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 3rem;
}
.grid-idea p {
  margin-block-start: 0;
  margin-block-end: 0;
}
.cepera-iframe {
  height: 410px !important;
  padding-bottom: 3rem;
}
@media (max-width: 700px) {
  .img-row p:nth-child(2),
  .img-row p:nth-child(3) {
    padding-left: 0;
  }
  .grid-idea {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    padding-bottom: 3rem;
  }
  .text-idea {
    width: 100%;
    height: auto;
    padding: 20px 0;
  }
  .img-idea {
    height: auto;
  }
  .menu-button {
    display: flex !important;
  }
  .navigation {
    display: none !important;
  }
  .navigation a {
    padding-bottom: 30px;
    padding-right: 0;
  }
  .navigation-active .navigation {
    display: flex !important;
    flex-flow: column;
    animation: Nav-Link 0.9s ease;
  }
  .post-container {
    flex-flow: column;
    height: auto;
  }
  .what-item {
    width: 100% !important;
  }
  .what-row {
    flex-flow: column !important;
  }
  .what-item:nth-child(2) {
    padding-left: initial;
  }
  .mode-container {
    padding-bottom: 30px;
  }
  .primary-content {
    font-size: 12px;
  }
  h1 {
    font-size: 3rem;
    word-wrap: break-word;
  }
  .primary-content .title-hero p:nth-child(1) {
    font-size: 0.5rem;
    margin-bottom: 0;
  }
  .primary-content .title-hero p:nth-child(2) {
    font-size: 2rem;
  }
  .blog-post-content .img-row {
    flex-flow: column;
  }
  .gatsby-resp-iframe-wrapper {
    margin: 10px 0;
  }
  .iframe-row iframe {
    width: 100%;
    height: 240px;
    padding-bottom: 10px;
  }
}
@keyframes Nav-Link {
  from {
    transform: translate(0rem, 2rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}
