.CaseSection {
  width: 100%;
  height: 100%;
}

.CaseSection--Grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


.CaseSection--Grid > * {
  width: calc(33.33% - 2rem);
  margin-bottom: 4rem;
}

@supports (display: grid) {
  .CaseSection--Grid {
    display: flex;
    flex-direction: column;
  }

  .CaseSection--Grid > * {
    width: auto;
    margin: 0;
  }
}

.CaseSection--Title {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
}

@media screen and (max-width: 888px) {
  .CaseSection--Grid > * {
    display: flex;
    flex-direction: column;
  }

  @supports (display: grid) {
    .CaseSection--Grid {
      display: flex;
      flex-direction: column;
    }
  }
}
